body {
    font-family: Arial, sans-serif;
    background-color: #f9f9e5; /* 浅黄色背景 */
    color: #333;
    margin: 0; /* 移除默认边距 */
    padding: 0; /* 移除默认内边距 */
}

.container {
    max-width: 90%; /* 容器最大宽度为90% */
    width: 600px; /* 最大宽度为600px */
    margin: auto;
    padding: 20px;
    background: #F5F5DC; /* 设置主面板颜色为米色 */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap; /* 允许换行以适应小屏幕 */
}

input {
    flex: 1 1 auto; /* 自适应宽度 */
    margin-right: 10px;
    padding: 10px;
}

button {
    padding: 10px 15px;
    margin-bottom: 10px; /* 增加按钮之间的行距 */
}
button.default {
    background-color: LawnGreen; /* 默认按钮为绿色 */
}

#results {
    margin-top: 20px;
}

.status-normal {
    color: green; /* 正常状态显示为绿色 */
}

.status-error {
    color: red; /* 错误状态显示为红色 */
}

#websiteList {
    list-style-type: none; /* 移除列表样式 */
    padding: 0; /* 移除内边距 */
    display: none; /* 默认隐藏 */
}

#websiteList li {
    display: flex;
    justify-content: space-between; /* 确保文本和按钮对齐 */
    align-items: center; /* 垂直居中对齐 */
    margin-bottom: 10px; /* 每个条目之间的间距 */
}

#websiteList button {
    margin-left: 10px; /* 按钮之间的间距 */
}

button.delete {
    background-color: red; /* 删除按钮为红色 */
    color: white;
}

button.modify {
    background-color: yellow; /* 修改按钮为黄色 */
}

button.default {
    background-color: LawnGreen; /* 默认按钮为绿色 */
}

/* 媒体查询：针对小屏幕（如手机）进行样式调整 */
@media (max-width: 600px) {
    .container {
        width: 95%; /* 在小屏幕上容器宽度为95% */
        padding: 10px; /* 减少内边距 */
    }

    form {
        flex-direction: column; /* 垂直排列输入框和按钮 */
        align-items: stretch; /* 按钮和输入框占满整个宽度 */
    }

    input {
        margin-right: 0; /* 移除右边距以适应垂直排列 */
        margin-bottom: 10px; /* 添加底部间距以分隔输入框和按钮 */
        width: auto; /* 自适应宽度 */
    }

    button {
        width: 100%; /* 按钮占满整个宽度 */
        margin-left: 0; /* 移除左边距以适应全宽 */
        margin-bottom: 10px; /* 添加底部间距以分隔按钮 */
    }
}
